In [48]:
import pandas as pd

file ='v_S_PRODOTTO_EN'

# Replace 'filename.csv' with the actual name of your CSV file
df = pd.read_csv(f'eComm_Data\\{file}.csv',low_memory=False)
df.head()

,Product_Code,Description,Manufacturer,EAN_Code,Main_Supplier,Supplier_2,Assortment_Status,BD_Category,ATC_Group,Ministerial_Class,...,Saleability_Reason,Narcotic_Code,ECOMM_Price_Flag,Category,COVID_Type,Historical_Recovery_Flag,Category_Level_1,Category_Level_2,Category_Level_3,Re-Marketability_Reason
0,907990123,"OFFERTA TRUCCHI THIERRY 3,99",NaN,NaN,NaN,NaN,NaN,NaN,VARI,NaN,...,NaN,NaN,0,OTHER,NO COVID,N,NaN,NaN,NaN,NaN
1,907990127,NORA BRACCIALE METAL,NaN,NaN,NaN,NaN,NaN,NaN,VARI,NaN,...,NaN,NaN,0,OTHER,NO COVID,N,NaN,NaN,NaN,NaN
2,907990128,NORA BRACCIALE METAL SMALTATO,NaN,NaN,NaN,NaN,NaN,NaN,VARI,NaN,...,NaN,NaN,0,OTHER,NO COVID,N,NaN,NaN,NaN,NaN
3,907990129,NORA COLLANA CORTA,NaN,NaN,NaN,NaN,NaN,NaN,VARI,NaN,...,NaN,NaN,0,OTHER,NO COVID,N,NaN,NaN,NaN,NaN
4,907990131,NORA ORECCHINI PLEXI,NaN,NaN,NaN,NaN,NaN,NaN,VARI,NaN,...,NaN,NaN,0,OTHER,NO COVID,N,NaN,NaN,NaN,NaN

In [44]:
english_columns = {
    'CODICE_FORNITORE': 'Product Code',
    'DESC_FORNITORE': 'Description',
    'TARGET': 'Target',
    'START': 'Start',
    'TARGET_range1': 'Target Range 1',
    'TARGET_range2': 'Target Range 2',
    'TARGET_range3': 'Target Range 3',
    'TARGET_range4': 'Target Range 4',
    'TARGET_END': 'Target End',
    'Brand': 'Brand'
}

df = df.rename(columns=english_columns)

In [45]:
df.head()

,Product Code,Description,Target,Start,Target Range 1,Target Range 2,Target Range 3,Target Range 4,Target End,Brand
0,F000024,Zeta,60000,0,12000,24000,36000,63000,72000,NaN
1,F000054,Giuliani,0,0,0,0,0,0,0,NaN
2,F000057,Nestlè,0,0,0,0,0,0,0,NaN
3,F000062,Glaxosmithkline,250000,0,50000,100000,150000,262500,300000,NaN
4,F000064,GANASSINI,100000,0,20000,40000,60000,105000,120000,NaN

In [46]:
df.to_csv(f'eComm_Data\\{file}_EN.csv', index=False)

In [49]:
import os
import pandas as pd

def replace_spaces_in_columns(directory):
    # Loop through all files in the specified directory
    for filename in os.listdir(directory):
        # Check if the file is a CSV file
        if filename.endswith('.csv'):
            filepath = os.path.join(directory, filename)
            
            # Read the CSV file into a DataFrame
            df = pd.read_csv(filepath)
            
            # Replace spaces with underscores in column names
            df.columns = [col.replace('(', '') for col in df.columns]
            df.columns = [col.replace(')', '') for col in df.columns]
            df.columns = [col.replace('.', '') for col in df.columns]

            
            # Save the modified DataFrame back to the CSV file
            df.to_csv(filepath, index=False)
            print(f"Processed file: {filename}")

# Specify the directory containing the CSV files
directory = 'eComm_Data'

# Call the function to process the files
replace_spaces_in_columns(directory)

Processed file: MAPPATURA_FORNITORI_ECOMM_TARGET_EN.csv
Processed file: v_ECOMM_BACKLOG_EN.csv
Processed file: v_F_ACQUISTATO_ECOMM_EN.csv

C:\Users\jirip\AppData\Local\Temp\ipykernel_13336\1150127836.py:12: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)

Processed file: V_F_ECOMM_OUT_OF_STOCK_EN.csv
Processed file: v_F_ORDINATO_CONSEGNATO_ECOMM_EN.csv
Processed file: v_F_SHIPPED_ORDER_ECOMM_EN.csv
Processed file: v_F_STOCK_ECOMM_EN.csv
Processed file: v_S_FARMACIA_EN.csv
Processed file: v_S_FORNITORE_EN.csv

C:\Users\jirip\AppData\Local\Temp\ipykernel_13336\1150127836.py:12: DtypeWarning: Columns (0,3,4,5,6,11,12,13,14,17,18,19,35,40,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath)

Processed file: v_S_PRODOTTO_EN.csv
Processed file: v_S_TIME.csv
Processed file: v_S_TIME_SLOT.csv